# Database
DATABASE_URL=postgresql://postgres:password@localhost:5432/tsm_auth
DB_HOST=localhost
DB_PORT=5432
DB_PASSWORD=password
DB_USER=postgres
DB_NAME=tsm_auth

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# Arcjet
ARCJET_API_KEY=

# Social Providers
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Postmark
POSTMARK_SERVER_TOKEN=
POSTMARK_FROM_EMAIL=